ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
.container {
  margin-left: 400px;
  margin-top: 100px;
  border-radius: 20px;
  background-color: #04aa6d;
  padding: 80px 60px;
  width: max-content;
  font-size: large;
}
